body{
	margin:0;
}
.px{
	font-size: 14px;
}
.em{
	font-size: 1.4em;
}
.rem{
	font-size: 0.8rem;
}
.percent{
	font-size:100%;
}
.vw{
	font-size: 2vw;
}
.vh{
	font-size: 2vh;
}
li{
	font-size: 0.8em;
}
div{
	border: 1px solid red;
	padding: 5px 5px 5px 5px;/*вверху вправо внизу слева*/
	padding: 5px 10px;/*низ/верх и лево/право*/
	padding: 5px 10px 15px;/*верх лево/право и низ*/
	padding: 5px;/*все по 5*/
	padding: 20%;/*считает от исходной ширмны блока без паддинга*/
	margin-right: 20%;
}
span{
	font-size: 20px;
	font-weight: bolder;
	color: red;
}