html,body{
margin: 1%;
height: 100%;
}

.menue{

	float: right;

}
header{
	margin: 0;
	height: 20%;
	background: rgba(0,0,0,0.8);


}

content{
	height: 60%;
	background: rgba(0,0,0,0.8);
	margin: 1%
	display:inline-block;


}

footer{
	margin: 0;
	height:20%;
	background: rgba(0,0,0,0.8);
}

button{
	height: 50px;
	width: 100px;
	background: red;
	margin:5px;
}
.text_button{
	height:20px;
}