body{
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}
section{
	margin: 0 auto;
	max-width: 660px;
	padding: 0 20px;

}
h1{
	font-weight: normal;
	position: relative;
	background: #F4F9fa;
	width: 50%;
	color: #F8463F;
	text-align: center;
	padding: 10px 20px;
	margin: 20px auto 40px;
	text-transform: uppercase;
	border-radius: 2px;
}

h1:before, h1:after{
	content:"";
	position: absolute;
	top: -6px;
	border: 18px solid #DCF4F4;
}

h1:before{
	left:-36px;
	border-right-width: 18px;
	border-left-color: transparent;

}
h1:after{
	right: -36px;
	border-left-width: 18px;
	border-right-color: transparent;
}



h1 span:before, h1 span:after{
	content:"";
	position: absolute;
	border-style: solid;
	border-color: #AC7ECC transparent transparent transparent;
	top: -6px;
	transform: rotate(180deg);

}

h1 span:before{
	left:0;
	border-width: 6px 0 0 6px;

}

h1 span:after{
	right: 0;
	border-width: 6px 6px 0 0;
}

.ribbon{
	width:40%;
	height:188px;
	position: relative;
	float: left;
	margin-bottom: 30px;
	background: url(https://pbs.twimg.com/profile_images/674913168284631040/wxfO9U85_400x400.png);
	background-size: cover;
	text-transform: uppercase;
	color:white;
}
.ribbon:nth-child(even){
	margin-right: 4%;
}

@media (max-width: 500px){
	.ribbon{
		width: 100%;
	}
	.ribbon:nth-child(even){
		margin-right: 0%;
	}
}
.ribbon1{
	position: absolute;
	top: -6.1px;
	right: 10px;
}
.ribbon1:after{
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border-left: 53px solid transparent;
	border-right: 53px solid transparent;
	border-top: 10px solid #F8463F;
}
.ribbon1 span{
	position: relative;
	display: block;
	text-align: center;
	background: #F8463F;
	font-size:14px;
	line-height: 1;
	padding: 12px 8px 10px;
	border-top-right-radius: 8px;
	width: 90px;	
}
.ribbon1 span:before, .ribbon1 span:after{
	position:absolute;
	content:"";
}
.ribbon1 span:before{
	height:6px;
	width:6px;
	left:-6px;
	top:0;
	background: #F8463F;
}
.ribbon1 span:after{
	height:6px;
	width: 8px;
	left:-8px;
	top:0;
	border-radius: 8px 8px 0 0;
	background: #C02031;
}
.ribbon2{
	width: 60px;
	padding: 10px 0;
	position: absolute;
}