html, body{
	margin: 0;
	
}

.red{
	background:red;
}
.orange{
	background:orange;
}
.yellow{
	background:yellow;
}
.green{
	background:green;
}
.blue{
	background:blue;
}


/*СЕЛЕКТОРЫ*/

/*применяем ко всем дивам, вложенным в дивы, с классом контейнер - ко всем детям детей*/
.container > div > div{
	height: 50px;
}

/*применяем ко всем дивам, с классом контейнер - ко всем детям*/
.container > div{
	display:flex;
	border:2px solid;
	margin-bottom: 20px;
}

/*применяем ко всем дивам, у которых класс начинается с див*/
div[class^='div'] >div{
	flex:1;
}


.div2{
	flex-direction:column;
	height:250px;
}
.div2 > div {
	height: auto;
}
.div2 > div:first-child{
	flex: 3;
}
.div2 > div:last-child{
	flex: 6;
}
.div3{
	flex-direction: row;
	height:unset;/*отменяет свойство*/
}
.div4 > div{
	flex: 1;
}
@media all and (max-width: 500px){
	.div4{
		flex-direction: column;
	}
}
.div5{
	flex-wrap: wrap;
}
.div5 > div{
	width: 33.3%;
	flex:unset !important;
}
.div6 > div:last-child {
	flex:2;
	flex-grow: 1;
}
.div7 > div {
	width: 10%;
	flex: unset !important;
}
.div7 {
	height: 100px;
	justify-content: space-between;
	align-items: center;
}


.div8 > div{
	height: 20px !important;
	width: 50%;
	flex: unset !important;
}
.div8{
	height: 200px;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}


