body{
	margin:0;
}
div {
	height: 30px;
	width: 20%;
}
/*Меняет положение относительно места, по системе координат. если рядом стоят какие то блоки, он на них просто наедет. и закроет собой*/
.relative{
	background: blue;
	position: relative;
	left: 40px;
}
/*Перемещается относительно родительского контейнера, в данном случае родитель - body*/
.absolute{
	background: green;
	position: absolute;
	top: 15px;
	left: 25px;
}
/*не меняет положение при прокрутке*/
.fixed{
	background: yellow;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 9;/*для создания слоев, по умолчанию каждый элемент имеет индекс 1*/
}
/*Значение по умаолчанию. Не реагирует на изменения местоположения*/
.static{
	background: orange;
	position: static;

}
/*ведет себя как статик, но при прокрутке как абсолют*/
.sticky{
	background: red;
	position: sticky;
	top: -1px;
	z-index: 3;
}
.inherit{
	background: darkred;
	position: inherit;
}
.parent{
	background: lightgrey;
	position: relative;
}
.relative-big{
	position: relative;
	background-color: blue;
	width: 100%;
	height: 200px;
}
.absolute2{
	background:green;
	position: absolute;
	top:15px;
}
