
@font-face {
    font-family: DSWalbaumfraktur;
    src: url(DSWalbaumfraktur.ttf);

}


html.body{
    margin:0;
    width: 100%;

}
body{

    background: url("world-map.png") center no-repeat;
}


header{
    font-size: 200%;
    font-style: normal;
    padding-right: 1em;
    background: rgba(0,0,0,0.4);
    text-align: right;
}
.column{
    display: block;
    background: rgba(0,0,0,0.2);
    float: left;
    width:20%;
    padding: 10px;
    margin: 10px;

}


.sheet{
    display: inline-table;
    padding:25px;

}
.header{
    padding: 15px;
    margin: 25px;
}
