html, body{
	height: 100%;

}

body{
	margin:0;
	background: 
}

aside{
	width: 30%;
	display: inline-block;
	float: left;
 
}

content{
	width: 70%;
	display: inline-block;
	float: left;


}
img{
	float: bottom;
}


}
.map{
	padding: 5px;
}
footer{
	display: inline-block;

}
header{
	margin: 0;
	background: rgba(118,118,118,1);
	height:	10%;
	text-align: center;
	text-shadow: 
}